.Title
{
	display:flex;
}


a
{
	color:white;
	text-decoration:none;
	font-weight:bold;
	margin:auto;
}

body
{
	font-weight:bold;
	margin:auto;
	color:white;
	background-color: grey;
}

.b
{
	width:500px;
	text-size:50px;
	text-align:center;
}

iframe
{
	width:75%;
	height:90%;
	border:none;
	margin:auto;
	display: block;
}