.Title
{
	display:flex;
}

h1
{	
	margin:auto;
}

a
{
	color:white;
	text-decoration:none;
	font-weight:bold;
	margin:auto;
}

body
{
	font-weight:bold;
	margin:auto;
	color:white;
}

td
{
	width:100px;
	text-size:50px;
	text-align:center;
}

iframe
{
	width:100%;
	height:90%;
	border:none;
}